<<<<<<< HEAD
.child3_mdBg{min-height:600px;}
.child3_left{margin:36px 0 72px 0;width:845px;min-height:540px;float:left;}
.child3_left .msgsBg{padding:17px 45px 60px 45px;width:720px;background:#fff;float:left;}
.child3_left .title{width:720px;height:60px;line-height:60px;text-align:center;font-size:28px;color:#2c2c2c;float:left;}
.child3_left .from{padding-bottom:22px;width:720px;height:36px;line-height:36px;text-align:center;font-size:14px;color:#8f8f8f;float:left;}
.child3_left .from>span{margin:0 15px;}
.child3_left .from .link{color:#3399ee;}
.child3_left .image{max-width:720px;clear:both;display:block;margin:10px auto;}
.child3_left .msgContent{width:720px;float:left;}
.child3_left .msgTitle{padding-top:16px;width:100%;height:36px;line-height:36px;color:#ff7300;font-size:18px;font-weight:bold;float:left;}
.child3_left .msgLabel{width:100%;height:24px;line-height:24px;color:#2a2a2a;font-size:16px;font-weight:bold;text-indent:28px;float:left;}
.child3_left .msg{padding:10px 0;width:100%;line-height:25px;color:#212121;font-size:14px;text-indent:28px;float:left;}
.child3_left .keyword{padding-top:24px;width:100%;line-height:24px;float:left;}
.child3_left .keyword .label{font-size:16px;font-weight:bold;color:#2a2a2a;float:left;}
.child3_left .keyword span{margin:0 20px;font-size:14px;color:#3399ee;float:left;}
.child3_right{margin:36px 0 72px 0;width:355px;min-height:540px;float:left;}
/*.child3_right .msgsBg{padding:20px 27px;width:266px;background:#fff;float:left;}*/
/*width: 720px;*/
.child3_right .msgsBg {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 17px 45px 60px;
    overflow:auto;
    height:700px;
    height:auto!important;
    height:200px;
    min-height:200px; 
    max-height: 600px
}
.child3_right .title{width:100%;height:25px;line-height:25px;color:#3399ee;font-size:14px;float:left;}
.child3_right .msg{margin:5px 0;width:100%;line-height:23px;color:#787878;font-size:13px;float:left;}
.child3_right .wxImageBg{padding-top:36px;width:100%;float:left;}
.child3_right .wxImage{width:93px;height:93px;display:block;clear:both;margin:0 auto;}
.child3_right .wxName{width:100%;height:40px;line-height:40px;text-align:center;font-size:14px;color:#787878;}
/*.tag_li{
	padding-left : 45px;
}*/
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.tag_li li{
	padding-left : 15px;
	display: inline-block;
	padding-top : 100px
}
.child3_mdBg{min-height:600px;}
.child3_left{margin:36px 0 72px 0;width:845px;min-height:540px;float:left;}
.child3_left .msgsBg{padding:17px 45px 60px 45px;width:720px;background:#fff;float:left;}
.child3_left .title{width:720px;height:60px;line-height:60px;text-align:center;font-size:28px;color:#2c2c2c;float:left;}
.child3_left .from{padding-bottom:22px;width:720px;height:36px;line-height:36px;text-align:center;font-size:14px;color:#8f8f8f;float:left;}
.child3_left .from>span{margin:0 15px;}
.child3_left .from .link{color:#3399ee;}
.child3_left .image{max-width:720px;clear:both;display:block;margin:10px auto;}
.child3_left .msgContent{width:720px;float:left;}
.child3_left .msgTitle{padding-top:16px;width:100%;height:36px;line-height:36px;color:#ff7300;font-size:18px;font-weight:bold;float:left;}
.child3_left .msgLabel{width:100%;height:24px;line-height:24px;color:#2a2a2a;font-size:16px;font-weight:bold;text-indent:28px;float:left;}
.child3_left .msg{padding:10px 0;width:100%;line-height:25px;color:#212121;font-size:14px;text-indent:28px;float:left;}
.child3_left .keyword{padding-top:24px;width:100%;line-height:24px;float:left;}
.child3_left .keyword .label{font-size:16px;font-weight:bold;color:#2a2a2a;float:left;}
.child3_left .keyword span{margin:0 20px;font-size:14px;color:#3399ee;float:left;}
.child3_right{margin:36px 0 72px 0;width:355px;min-height:540px;float:left;}
.child3_right .msgsBg {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 17px 45px 60px;
    overflow:auto;
    height:700px;
    height:auto!important;
    height:200px;
    min-height:200px; 
    max-height: 600px
}
.child3_right .title{width:100%;height:25px;line-height:25px;color:#3399ee;font-size:14px;float:left;}
.child3_right .msg{margin:5px 0;width:100%;line-height:23px;color:#787878;font-size:13px;float:left;}
.child3_right .wxImageBg{padding-top:36px;width:100%;float:left;}
.child3_right .wxImage{width:93px;height:93px;display:block;clear:both;margin:0 auto;}
.child3_right .wxName{width:100%;height:40px;line-height:40px;text-align:center;font-size:14px;color:#787878;}
/*.tag_li{
	padding-left : 45px;
}*/
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.tag_li li{
	padding-left : 15px;
	display: inline-block;
	padding-top : 100px

}