.tools_bannerBg0{width:100%;min-width:1200px;height:270px;background:url(/images/c_images/tools/bannerImage.png) no-repeat center center;margin-bottom:20px;float:left;}

.tools_content{min-height:400px;}